<!--
  Copyright (c) 2018 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  Contributors:
    Christopher Guindon <chris.guindon@eclipse-foundation.org>
  SPDX-License-Identifier: EPL-2.0
-->


<div class="{{ $.Site.Params.navbar_wrapper_classes | default "navbar-wrapper" }}">
    <div class="container">
      <div class="row" id="header-row" align="center">
      	<a href="/"><img src="/images/logo/OWR_Long_Logo_Full_Colors_Margin_darkBG.svg"/></a>
      </div>
	{{ if isset .Page.Params "subtitle" }}
      <div class="row" id="header-row" align="center">
      	<h1 style="color: white;">{{ .Page.Params.subtitle | safeHTML }}</h1>
      </div>
     {{end}}
    </div>
</div>